.studentsPageContainer {
  padding: 40px;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 28px;
  color: var(--black);
}

@media (max-width: 480px) {
  .studentsPageContainer {
    padding: 10px;
  }

  .title {
    font-size: 22px;
  }
}
