.header {
  background-color: var(--black);
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 80px;
}

.logoLink {
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}

.headerInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.headerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: var(--black);
  border: none;
  border-radius: 30px;
  padding: 8px 12px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.headerBtn:hover {
  background-color: var(--light-gray);
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}

.bellIcon {
  width: 24px;
  height: 24px;
  fill: var(--white);
  transition: transform 0.2s ease-in-out;
}

.headerBtn:hover .bellIcon {
  animation: ring 0.5s ease-in-out;
}

.userContainer {
  position: relative;
  display: inline-block;
}

.userIcon {
  width: 28px;
  height: 28px;
  stroke: var(--white);
}

.userName {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}

@media (max-width: 480px) {
  .headerContainer {
    padding: 10px 20px;
  }

  .userName {
    font-size: 16px;
  }
}
