:root {
  --pink: #ed1151;
  --light-gray: #fafafa42;
  --text-gray: #424242;
  --gray: #f0f0f0;
  --dark-gray: #171717;
  --black: #000000;
  --white: #ffffff;

  --main-font: 'Nunito', sans-serif;
}

@font-face {
  font-family: 'iconFont';
  src: url('./assets/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon-remove::before {
  font-family: 'iconFont';
  content: '\e901';
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus::before {
  font-family: 'iconFont';
  content: '\e905';
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen::before {
  font-family: 'iconFont';
  content: '\e903';
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell::before {
  font-family: 'iconFont';
  content: '\e904';
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user::before {
  font-family: 'iconFont';
  content: '\e902';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger-menu::before {
  font-family: 'iconFont';
  content: '\e900';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right::before {
  font-family: 'iconFont';
  content: '\e906';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left::before {
  font-family: 'iconFont';
  content: '\e907';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
