.notFoundPageContainer {
  padding: 40px;
  width: 100%;
}

@media (max-width: 1439px) {
  .notFoundPageContainer {
    padding: 20px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  color: var(--black);
}

@media (max-width: 1439px) {
  .title {
    font-size: 24px;
  }
}
